h3
{
    padding: 3px;
    text-align: center;
    color: dimgrey;
}
body
{
    background-color:#222;
}
#menu li
{
    list-style: none;
}
#menu ul li a 
{
    text-decoration: none;
    float: left;
    margin: 5px;
    color: darkgrey;
        
}
#menu a:hover
{
    opacity: 50%
    color: white;

}